<div class="section">
    <div class="container">
        <div class="row">
            <div class="card border-light">
                <div class="card-body px-5 py-5">
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="#" class="btn btn-gray btn-sm"><i class="fa-solid fa-pencil"></i></a>
                  </div>                  
                  <h3 class="card-title display-1 text-center">Quién Soy?</h3>
                  <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>                  
                </div>
              </div>
        </div>        
    </div>
</div>